@import '../../../styles/_colors.scss';

.balanceContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    color:white;

    .ingressB{
        background-color: $ingressColor;
        padding: .2rem 2rem;
        border-radius: .15rem;
    }
    .egressB{
        background-color: $egressColor;
        padding: .2rem 2rem;
        border-radius: .15rem;
    }
}
