@import '../../../styles/_colors.scss';
$backgroundColor:#1c152b;

.registerForm{
    width: 18.75rem;
    background: $backgroundColor;
    padding: 2rem;
    margin: auto;
    border-radius: .2rem;
    font-family: 'Roboto';
    color:white;
    
    h4{
        font-size: 1.4rem;
    }

    .controls{
        width: 100%;
        background: $backgroundColor;
        border-radius: .2rem;
        border: .5px solid white;
        padding: .5rem;
        margin-bottom: .2rem;
        font-family: 'Roboto';
        color: white;
    }

    p{
        width: 100%;
        color: $errorColor;
    }
}